
<% include ../partials/boilerplate %>

<form action="/events/<%= event.id %>?_method=PUT" method="POST">
  <input type="text" name="name" value="<%= event.name %>" />
  <input type="text" name="location" value="<%= event.location %>" />
  <input type="text" name="url" value="<%= event.url %>" />
  <input type="submit" value="Edit the event information" />
</form>

<% include ../partials/end %>
