<% include ../partials/boilerplate %>

<form method="POST" action="/events">
  <input type="text" name="name" placeholder="Name" />
  <input type="text" name="location" placeholder="location" />
  <input type="text" name="url" placeholder="url" />
  <input type="submit" value="Submit new event" />
</form>

<% include ../partials/end %>
