<% include ../partials/boilerplate2 %>


<% allFavorites.forEach(allFavorites => { %>
  <div class="event">
        <h2><%= allFavorites.name %></h2>
        <p><%= allFavorites.location %></p>
        <p> <%= allFavorites.image %> </p>
        <p><a href="<%= allFavorites.url %>">Find tickets</a></p>
  </div>
<% }) %>

<% include ../partials/end2 %>
