<% include ../partials/boilerplate %>

<% for (var i = 0; i < 4; i++) { %>


      <form method="POST" action="/events">
        <input type="text" name="name" value="Pax West" />
        <input type="text" name="location" value="200 University Street, Seattle" />
        <input type="text" name="image" value="" />
        <input type="text" name="url" value="https://seatgeek.com/venues/benaroya-hall/tickets" />
        <input type="submit" value="Save" />
      </form>
<% } %>

    <a href="/>">Search another city!</a>
  </div>

<% include ../partials/end %>
