<% include ../partials/boilerplate %>

<%# views/auth/register.ejs %>

<div class="hero">
<form method="POST" action="/auth/register">
  <input name="username" type="text" placeholder="username" required />
  <input name="email" type="email" placeholder="email" required />
  <input name="password" type="password" placeholder="password" required />
  <p><input type="submit" value="Register!" /></p>
</form>
</div>

<% include ../partials/end %>
