<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <meta http-equiv='X-UA-Compatible' content='ie=edge'>
  <script src="js/query.js" type="text/javascript"></script>

  <link rel='stylesheet' type='text/css' href='/style/reset.css'>
  <link rel='stylesheet' type='text/css' href='/style/style.css'>
  <title>Events</title>
</head>
<body>

<nav>
<div id="nav">
  <h1><a href="/">Eventify</a></h1>
  <ul>
    <li><a href="/auth/login">Login</a></li>
    <li><a href="/auth/register">Register</a></li>
  </ul>
</div>
</nav>
