body {
  background-color: #d0dae1;
  font-family: Helvetica, sans-serif;
}

nav {
  position: sticky;
  top: 0;
}

h1 > a {
  color: #6897bb;
}

#nav {
  background-color: #fff;
  font-size: 18px;
  padding: 25px;
  color: #d0dae1;
  display: flex;
  justify-content: space-between;
  color: #6897bb;
}

li {
  display: inline-block;
  list-style: none;
  padding: 10px 5px 10px 5px;
  background-color: #6897bb;
}

li > a {
  text-decoration: none;
  color: #fff;
}

li:hover {
  background-color: #d0dae1;
}

li > a:hover {
  color: #d0dae1;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #000;
}

form {
  text-align: center;
}

input[type="submit"] {
  color: #fff;
  background-color: #6897bb;
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px #597e9b;
  font-size: 13px;
  text-transform: uppercase;
  padding: 10px;
}

input[type="submit"]:hover {
  background-color: #597e9b
}

input[type="submit"]:active {
  background-color: #597e9b;
  box-shadow: 0 2px #6897bb;
  transform: translateY(2px);
}

input[type="text"] {
  height: 20px;
  width: 200px;
  padding: 10px;
  border: 0;
}

input[type="email"] {
  height: 20px;
  width: 200px;
  padding: 10px;
  border: 0;
}
input[type="password"] {
  height: 20px;
  width: 200px;
  padding: 10px;
  border: 0;
}

.hero {
  max-height: 300px;
  font-size: 45px;
  padding: 30px 0 30px 0;
  margin: 200px 0 45px 0;
}

img {
  max-width: 350px;
}

h1 {
  text-align: center;
  font-size: 36px;
  color: #fff;
}

h2 {
  text-align: center;
  font-size: 53px;
  padding: 10px;
  color: #fff;
  font-weight: 800;
}

#slider {
  text-align: center;
  padding: 50px;
}

.event {
  max-width: 650px;
  height: 400px;
  background-color: rgba(0,0,0,.1);
  margin: 0 auto;
  text-align: center;
}

h3 {
  background-color: #fff;
  font-size: 36px;
  color: #000;
  margin-top: 50px;
}

h4 {
  font-size: 18px;
  height: 30px;
  color: #000;
  margin: 15px;
}
