body {
  background: #d0dae1; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #d0dae1, #92aec3); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #d0dae1, #92aec3); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #d0dae1, #92aec3); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #d0dae1, #92aec3); /* Standard syntax */
  font-family: 'Oxygen', sans-serif;
}

nav {
  position: sticky;
  top: 0;
}

h1 > a {
  color: #6897bb;
  font-family: 'Bitter', serif;
}

#nav {
  background-color: #fff;
  font-size: 18px;
  padding: 25px;
  color: #d0dae1;
  display: flex;
  justify-content: space-between;
  color: #6897bb;
}

li {
  display: inline-block;
  list-style: none;
  padding: 10px 5px 10px 5px;
  background-color: #6897bb;
}

li > a {
  text-decoration: none;
  color: #fff;
}

li:hover {
  background-color: #d0dae1;
}

li > a:hover {
  color: #d0dae1;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #6897bb;
}

.align-buttons {
  display: flex;
  justify-content: flex-end;
}

form {
  display: inline;
}

input[type="submit"], .button {
  color: #fff;
  background-color: #6897bb;
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px #597e9b;
  font-size: 13px;
  text-transform: uppercase;
  padding: 10px;
  margin: 0 5px 0 5px;
}

input[type="submit"]:hover, .button:hover {
  background-color: #597e9b;
  color: #fff;
}

input[type="submit"]:active, .button:active {
  background-color: #597e9b;
  box-shadow: 0 2px #6897bb;
  transform: translateY(2px);
}

input[type="text"] {
  height: 20px;
  width: 200px;
  padding: 10px;
  border: 0;
}

input[type="email"] {
  height: 20px;
  width: 200px;
  padding: 10px;
  border: 0;
}
input[type="password"] {
  height: 20px;
  width: 200px;
  padding: 10px;
  border: 0;
}

.hero {
  max-height: 300px;
  font-size: 45px;
  padding: 30px 0 30px 0;
  margin: 200px 0 45px 0;
}

img {
  max-width: 350px;
}

h1 {
  text-align: center;
  font-size: 36px;
  color: #fff;
}

h2 {
  text-align: center;
  font-size: 53px;
  padding: 10px;
  color: #fff;
  font-weight: 800;
}

.event {
  text-align: left;
  width: 100%;
  padding-bottom: 10px;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.event-align{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 650px;
  background-color: rgba(255,255,255,.1);
  margin: 20px;
}

h3 {
  font-size: 36px;
  color: rgba(255,255,255,.9);
  padding-bottom: 5px;
  border-bottom: 2px solid #fff;
}

h4 {
  font-size: 18px;
  height: 30px;
  margin: 15px;
  text-transform: uppercase;
  font-family: 'Bitter', serif;
  letter-spacing:.2em;
}

h5 {
  font-size: 150pt;
  color: rgba(255,255,255,.5);
  font-family: 'Bitter', serif;
}