<% include ./partials/boilerplate %>
<div class="hero">
<h2>Search for things to do in your area</h2>
<form id="search" action="/events" method="POST">

  <input type='text' name='query' placeholder='Search by city'>
  <input type='submit' value='Enter'>
</form>
</div>
<% include ./partials/end %>
