<% include ./partials/boilerplate %>

<h2>Search for things to do in your area</h2>
<form id="search" action="/events" method="POST">

  <input type='text' name='query' placeholder='Search by city'>
  <input type='submit' value='Enter'>
</form>

<% include ./partials/end %>
