<% include ../partials/boilerplate %>

<form action="/users/<%= users.id %>?_method=PUT" method="POST">
  <input type="text" name="username" value="<%= users.username %>" />
  <input type="text" name="email" value="<%= users.email %>" />
  <input type="text" name="password" value="<%= users.password %>" />
  <input type="submit" value="Edit your information" />
</form>

<% include ../partials/end %>
