<% include ../partials/boilerplate %>

<form method="POST" action="/users">
  <input type="text" name="username" placeholder="user" />
  <input type="text" name="email" placeholder="email" />
  <input type="text" name="password" placeholder="password" />
  <input type="submit" value="Sign up" />
</form>

<% include ../partials/end %>
